* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(135deg, #6e45e2 0%, #88d3ce 100%);
    color: white;
    text-align: center;
    position: relative;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
    z-index: 1;
}

.page.active {
    opacity: 1;
    pointer-events: all;
}

.clickable-image {
    cursor: pointer;
    transition: transform 0.3s;
    max-width: 80%;
    max-height: 50vh;
}